{% extends 'base/base.html' %}

{% block title %}Delete GrantGoal {% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <h3>¿Deseas eliminar el Objetivo Estrategico con nombre: {{ object }} ?</h3>
        <a href="{% url 'home:index' %}" class="btn btn-outline-info">Cancel</a>
        <button type="submit" class="btn btn-outline-danger">Delete</button>
    </form>
{% endblock content %}