{% extends 'base/base.html' %}

{% block title %}Detail Goal{% endblock title %}

{% block content %}
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Elementary Data
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
            <div class="accordion-body">
              This is the Goal Name: <strong> {{object.goal_name}} </strong>
              <hr>
              <p>{{ object.description }}</p>
              En seguimiento del GrantGoal: <strong>{{ object.grant_goal }}</strong>, autorizado by: {{ object.user }}
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Time Data
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This Goal has the next Duration: {{ object.duration }} days.</strong> 
              <p>You can do it, just doi, think different y otras cosas motivacionales You can do it, just doi, think different y otras cosas motivacionales You can do it, just doi, think different y otras cosas motivacionales You can do it, just doi, think different y otras cosas motivacionales</p>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Status Data
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
             State for This Goal:  <strong> {{ object.state}}.</strong> 
             Status for this Goal: {% if object.status %} Este Goal aun tiene status activo {% else %} Este Gaol ya esta cerrado {% endif %}
             <hr>
             Timestamp for this Goal: {{ object.timestamp }}
            </div>
          </div>
        </div>
      </div>
{% endblock content %}