{% extends 'base/base.html'%}

{% block title %}Index APP {% endblock title %}

{% block content %}
   
{% if request.user.is_authenticated %}
    <h2>Bienvenido {{request.user }} </h2>
    <a href="{% url 'home:logout' %}">LogOut</a>
    <table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>GOAL TITLE</th>
            <th>USER</th>
            <th>TIMESTAMP</th>
            <th>STATUS</th>
            <th></th>
            <th>ACTIONS</th>
            <th></th>
        </thead>
        <tbody>
            {% for obj in grant_goals %}
                <tr>
                    <td>{{ obj.id }}</td>
                    <td>{{ obj.goal_title }}</td>
                    <td>{{ obj.user }}</td>
                    <td>{{ obj.timestamp }}</td>
                    <td>{{ obj.status }}</td>
                    <td><a href="{% url 'home:detail_grant_goal' obj.id %}" class="btn btn-outline-info">Detail</a></td>
                    <td><a href="{% url 'home:update_grant_goal' obj.id %}" class="btn btn-outline-warning">Update</a></td>
                    <td><a href="{% url 'home:delete_grant_goal' obj.id %}" class="btn btn-outline-danger">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <a href="{% url 'home:index' %}" class="btn btn-outline-warning">Cancel</a>
            <button type="submit" class="btn btn-outline-primary">LogIn</button>
        </form>
        Si no tienes una cuenta registrate <a href="{% url 'home:signup' %}">Aqui</a>
    {% endif %}

{% endblock content %}