{% extends 'base/base.html'%}

{% block title %}Goal's List{% endblock title %}

{% block content %}
   

    <table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>GOAL NAME</th>
            <th>USER</th>
            <th>TIMESTAMP</th>
            <th>STATUS</th>
            <th></th>
            <th>ACTIONS</th>
            <th></th>
        </thead>
        <tbody>
            {% for obj in goals %}
                <tr>
                    <td>{{ obj.id }}</td>
                    <td>{{ obj.goal_name }}</td>
                    <td>{{ obj.user }}</td>
                    <td>{{ obj.timestamp }}</td>
                    <td>{{ obj.status }}</td>
                    <td><a href="{% url 'home:detail_goal' obj.id %}" class="btn btn-outline-info">Detail</a></td>
                    <td><a href="" class="btn btn-outline-warning">Update</a></td>
                    <td><a href="" class="btn btn-outline-danger">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}