{% extends 'base/base.html' %}

{% block title %}New Grant Goal{% endblock title %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <p {% if message.tags == "success" %} class="alert alert-success" {% endif %}>{{ message }}</p>
        {% endfor %}
    {% endif %}
    <form action="" method="post" class="form">
        {% csrf_token %}
            {{ form.as_p }}
        <a href="{% url 'home:index' %}" class="btn btn-outline-warning">Cancel</a>
        <button type="submit" class="btn btn-outline-success">Save</button>
    </form>
{% endblock content %}