{% extends 'base/base.html' %}

{% block title %}Update Grant Goal{% endblock title %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <p {% if message.tags == "success" %} class="alert alert-danger" {% endif %}>{{ message }}</p>
        {% endfor %}
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        
        <a href="{% url 'home:index' %}" class="btn btn-outline-warning form-control mt-3">Cancel</a>
        <button type="submit" class="btn btn-outline-success form-control mt-3 mb-3">Update</button>
    
    </form>
{% endblock content %}
