{% extends 'base/base.html' %}

{% load static %}

{% block title %}FullCalendar View{% endblock title %}


{% block fullcalendar %}
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          headerToolbar: {
            left: "prev, next, today",
            center: "title",
            right: "dayGridMonth, dayGridWeek, listWeek"
          },
          events: [
            {% for grant_goal in grant_goals %}
              {
                title: "{{ grant_goal.goal_title }}",
                start: "{{ grant_goal.timestamp | date:'Y-m-d'}}",
                end: "{{ grant_goal.final_date | date:'Y-m-d'}}",
                color: "#09ac89",
                
              },
            {% endfor %}
          ]
        });
        calendar.render();
      });
    </script>
{% endblock fullcalendar %}

{% block content %}

<div class="container-fluid !direction !spacing mx-auto">
    <div id='calendar'></div> 
  </div>
  
{% endblock content %}