{% extends "base/base.html" %}

{% block title %}
  UPDATE GRANT GOAL VIEW CLIENT
{% endblock title %}

{% block content %}
    <form action="" method="post" class="form">
        {% csrf_token %}
        <label for="user">User</label>
        <input type="select" class="form-control form-select" name="user" id="user" value="{{ grantgoal.user }}">
        <label for="goal_title">Grant Goal Title</label>
        <input type="text" class="form-control" name="goal_title" id="goal_title" value="{{ grantgoal.goal_title }}">
        <label for="description">Description</label>
        <input type="text" class="form-control" name="description" id="description" value="{{ grantgoal.description }}">
        <label for="days_duration">Days Duration</label>
        <input type="number" class="form-control" name="days_duration" id="days_duration" value="{{ grantgoal.days_duration }}">
        <label for="status">Status</label>
        <input type="checkbox" class="form-checkbox" name="status" id="status" value="{{ grantgoal.status }}">
        <label for="state">State</label>
        <input type="select" class="form-select" name="state" id="state" {% if grantgoal.state %} checked {% endif %}>
        <label for="sprint">Sprint</label>
        <input type="number" class="form-control" name="sprint" id="sprint" value="{{ grantgoal.sprint }}">
        <label for="slug">Slug</label>
        <input type="text" class="form-control" name="slug" id="slug" value="{{ grantgoal.slug }}">
        <button type="submit" class="btn btn-outline-primary form-control">Update Grant Goal</button>
        <a href="{% url 'api:client_grantgoal' %}" class="btn btn-outline-warning form-control">Cancel</a>
    </form>
{% endblock content %}