{% extends "base/base.html" %}

{% block title %}Client Grant Goal View{% endblock title %}

{% block content %}
   <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Elementary Data
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
        <div class="accordion-body">
          This is the Goal Name: <strong> {{ grantgoal.goal_title }} </strong>
          <hr>
          <p>{{ grantgoal.description }}</p>
          En seguimiento del GrantGoal: <strong>{{ grantgoal.goal_title }}</strong>, autorizado by: {{ grantgoal.user }}
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Time Data
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>This Goal has the next Duration: {{ grantgoal.days_duration }} days.</strong> 
          <p>You can do see de final date for the grantgoal {{ grantgoal.final_date }}, just doi, think different y otras cosas motivacionales You can do it, just doi, think different y otras cosas motivacionales You can do it, just doi, think different y otras cosas motivacionales You can do it, just doi, think different y otras cosas motivacionales</p>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Status Data
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
         State for This Goal:  <strong> {{ grantgoal.state}}.</strong> 
         Status for this Goal: {% if grantgoal.status %} Este Grant Goal aun tiene status activo {% else %} Este Grant Goal ya esta cerrado {% endif %}
         <hr>
         Timestamp for this Goal: {{ grantgoal.timestamp }}
        </div>
      </div>
    </div>
  </div>
    
    <br>

    <a href="{% url 'home:index' %}" class="btn btn-outline-info form-control">Back</a>

    
{% endblock content %}
