

{% extends "base/base.html" %}

{% block title %}
   CREATE GRANT GOAL VIEW
{% endblock title %}

{% block content %}
  <form action="" method="post">
    {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-outline-success">Create GrantGoal</button>
        <a href="{% url 'api:client_grantgoal' %}" class="btn btn-outline-warning">Cancel</a>
  </form>
{% endblock content %}