{% extends "base/base.html" %}

{% block title %}Client Grant Goal View{% endblock title %}

{% block content %}
    <a href="{% url 'api:client_grantgoal_create' %}" class="btn btn-outline-success form-control">Create a New GrantGoal</a>
    <table class="table">
                <thead>
                    <th>GRANTGOAL TITLE</th>
                    <th>TIMESTAMP</th>
                    <th>DURATION</th>
                    <th></th>
                    <th>ACTIONS</th>
                    <th></th>
                </thead>
                <tbody>
                {% for gg in list_grantgoal %}
                    <tr>
                        <td>{{ gg.goal_title }}</td>
                        <td>{{ gg.timestamp }}</td>
                        <td>{{ gg.days_duration }}</td>
                        <td><a href="{% url 'api:client_detail' gg.goal_title %}" class="btn btn-outline-info">Detail</a></td>
                        <td><a href="{% url 'api:client_update' gg.id %}" class="btn btn-outline-warning">Update</a></td>
                        <td><a href="" class="btn btn-outline-danger">Delete</a></td>
                    </tr>
                {% endfor %}
                </tbody>
    </table>
    
{% endblock content %}
